.footer {
    width: 100%;
    height: 50px;

    background-color: #212114;

    .center {
        width: 600px;
        height: 100%;
        margin: 0 auto;

        background-color: #DDD;
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        h3 {
            font: 800 2rem 'Fira Code';
            color: orange;
        }
    }
}