.main {
    width: 100%;
    height: auto;

    .content {
        max-width: 1240px;

        display: flex;

        .img {
            width: 50%;

            padding: 20px;

            text-align: center;
            
            img {
                width: 412px;
                height: 412px;
            }
        }

        .ler {
            width: 50%;

            padding: 20px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font: 800 3.2rem 'Ubuntu';
            }

            p {
                font: 400 2rem 'sans-serif';
            }
        }
    }
}